<h1>{{ data }}</h1>
<p>{{ studentData | json }}</p>
<button (click)="add()">+</button> <button (click)="dec()">-</button>
<ul>
  <li @wow *ngFor="let item of studentData">
    <h1>{{ item.name }}</h1>
  </li>
</ul>

<lib-perfect></lib-perfect>
<ul>
  <li *ngFor="let x of array">
    {{ x.title }} <button (click)="edit(x._id)">Edit</button>
    <button (click)="delete(x._id)">Delete</button>
  </li>
</ul>

<table [formGroup]="tweetForm">
  <tbody>
    <tr>
      <td><input type="text" formControlName="title" /></td>
    </tr>
    <tr>
      <td><input type="text" formControlName="text" /></td>
    </tr>
    <tr>
      <td><button (click)="addTweet()">Post</button></td>
    </tr>
  </tbody>
</table>
